{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "ServiceBusConnection__fullyQualifiedNamespace": "REPLACE_WITH_SB_FQDN",
    "CosmosDbConnection__accountEndpoint": "REPLACE_WITH_COSMOS_ENDPOINT"
  }
}
