@page
@model BrightShelf.Pages.Products.CreateModel

<!DOCTYPE html>
<html>
<head>
    <title>BrightShelf - Create Product</title>
</head>
<body>
    <h1>Create Product</h1>

    @* TODO: Build a form to create a new product *@
    @* Include fields for Name, Price, Description, and a dropdown for CategoryId *@
    <p><em>Create form will go here.</em></p>

    <p><a asp-page="Index">Back to List</a></p>
</body>
</html>
