@page "{id:int}"
@model BrightShelf.Pages.Products.DeleteModel

<!DOCTYPE html>
<html>
<head>
    <title>BrightShelf - Delete Product</title>
</head>
<body>
    <h1>Delete Product</h1>

    @* TODO: Display product details and a confirmation form *@
    <p><em>Delete confirmation will go here.</em></p>

    <p><a asp-page="Index">Back to List</a></p>
</body>
</html>
