@page
@model BrightShelf.Pages.Products.IndexModel

<!DOCTYPE html>
<html>
<head>
    <title>BrightShelf - Products</title>
</head>
<body>
    <h1>Products</h1>
    <p><a asp-page="Create">Add New Product</a></p>

    @* TODO: Display a table of products from the database *@
    @* Use Model.Products to iterate and display Name, Price, Description, Category *@
    <p><em>Product list will appear here after implementing the database query.</em></p>
</body>
</html>
