{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "Anchorline:StorageBlobUri": "https://<acct>.blob.core.windows.net",
    "Anchorline:KeyVaultUri": "https://<kv>.vault.azure.net"
  }
}
